#media-highlight {
  background: linear-gradient(
      0deg,
      rgba(31, 30, 32, 1) 0%,
      rgba(45, 43, 43, 0.4990589985994398) 50%,
      rgba(31, 30, 32, 1) 100%
    ),
    url("/public/encanto.jpeg");
  width: 100%;
  background-size: cover;
  background-position: center;
}

.blank {
  height: 135px;
  width: 89px;
  background-color: #c4c4c4;
}

.plus {
  background-image: url("/public/+.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
  left: 30px;
  top: 50px;
  margin: 0;
}
